.myTrips{
    padding:30px;
}

.myTrips h1{
    text-align:center;
    margin-bottom:30px;
}

.trip-card h2{
    color:#3D405B;
}

.trip-card{
    background:white;
    width:350px;
    margin:20px auto;
    padding:20px;
    border-radius:10px;
    border:1px solid #E9ECEF;
    box-shadow:0 5px 10px rgba(0,0,0,.2);
}

.trip-card button{
    margin-right:10px;
    margin-top:10px;
    padding:8px 15px;
    background:#F4A261;
    color:white;
}

.trip-card button:hover{
    background:#E76F51;
}